<%= form_for :user, url: users_path do |u| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.text_field :first_name %>
      <%= u.label :first_name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.text_field :last_name %>
      <%= u.label :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.email_field :email %>
      <%= u.label :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.telephone_field :phone %>
      <%= u.label :phone %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.telephone_field :mobile %>
      <%= u.label :mobile %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.check_box(:timesheet_done) %>
      <%= u.label :timesheet_done %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.select(:employment_type, options_for_select([['Full-time', 1], ['Part-time', 2], ['Contractor', 3], ['Casual', 4]], 2)) %>
      <%= u.label :employment_type %>
    </div>
  </div>

  <div class="row">
    <div class="input-field  col  s12">
      <%= u.select(:office_location, options_for_select([['Upstairs', 1], ['Downstairs', 2], ['Basement', 3]], 2)) %>
      <%= u.label :office_location %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= u.submit %>
    </div>
  </div>

<% end %>