<div class="container">
  <div class="row">
    <div class="col  s12">
      <h3>Users</h3>

      <%= link_to 'Add user'.html_safe, new_user_path, class: 'btn-large  green  waves-effect  waves-light' %>

      <table class="bordered  responsive-table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name + ' ' + user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to '<i class="material-icons">visibility</i>'.html_safe, user_path(user) %></td>
            <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_user_path(user) %></td>
            <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, user_path(user),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>