<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col  s12  valign-wrapper">
        <h2 class="valign  center  white-text  caps">Consulting Engineering, Shop Detailing & Project Management</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col  s12">
      <h3 class="center">Baigents offers quality and innovation, Consulting Engineering, Project Management and Shop Detailing services.</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col  s12  m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("home-structural.jpg") %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col  s12  m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("istock-vasco-da-gama-bridge.jpg") %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col  s12  m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("home-shopdetailing.jpg") %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col  s12  m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("istock-construction-cooperation.jpg") %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col  s12">
      <h4>Users</h4>
      <%= link_to 'Users', { controller: 'users' }, class: 'btn-large  waves-effect  waves-light' %>

      <h4>Timesheet</h4>
      <%= link_to '', { controller: 'users' }, class: 'btn-large  waves-effect  waves-light' %>

      <!--
      Welcome page, baigents website

      Login button
        Login screen

      Once logged in..

        Admin
          Timesheets button
            List of timesheets
              Name
              Email
              Checkbox
            Add timesheet button

          Users button
            List of all staff
          Add timesheet option
          Checklist of who has put their timesheets in

        User
          Add timesheet button
            Options for adding time to a job
            Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday
            Job number
            Job title
            Hours
      -->

    </div>
  </div>
</div>